.qmuenu_opened.marker
emi.json
fabricloader.log
instance.json
patchouli_data.json
rhino.local.properties
*.zip
servers.dat
servers.dat_old
usercache.json
usernamecache.json

backups/*
crash-reports/*
logs/*
data/*
defaultconfigs/*
disabledmods/*
immersive_library/*
jarmods/*
journeymap/*
local/*
logs/*
patchouli_books/*
saves/*
screenshots/*
tacz/*
tacz_backup/*

config/roughlyenoughitems/*
config/fabric/*

mods/*